body {
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    body {
        justify-content: flex-start;
        padding-top: 5px;
    }
}

#body-div {
    border: 4px solid;
    border-radius: 16px;
    border-color: white;
    box-shadow: 0 0 0 0.75px #9CA3AF;
    margin: 0 auto;
    width: 99%;
    max-width: 480px;
}

#unit-entry {
    background: #6943FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    border-color: #6943FF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    text-align: center;
}

#display {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    text-align: center;
}

.title {
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    text-align: center;
}

.input, .convert-btn {
    width: 30%;
    max-width: 140px;
    margin-top: 10px;
}

.input {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #6943FF;
    border: 1px solid;
    border-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 22px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    transition: background 0.2s ease, border 0.2s ease; 
}
.input:hover {
    background: #7A54FF;
}

.input:focus {
    outline: none;
}

/* Remove number field arrows */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.convert-btn {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    color: #3D3D3D;
    cursor: pointer;
}
.convert-btn:hover {
  background-color: #D1D5DB;
}

.convert-btn:active {
  transform: scale(0.95);
  background-color: #B0B0B0;
}

.unit-display {
    width: 94%;
    max-width: 450px;
    height: auto;
    min-height: 100px;
    background: #FFFFFF;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    text-align: center;
}

.unit-display > h1 {
    color: #5A537B;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin: 0px;
}

.unit-display > p {
    font-family: 'Inter';
    font-weight: 400;
    color: #5A537B;
    font-style: normal;
    font-size: 14px;
    color: #353535;
    margin-top: 10px;
    text-align: center;
}

#one {
    margin-top: 20px;
}

#three {
    margin-bottom: 20px;
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6); /* faded white */
  transition: color 0.2s ease;
  font-size: 14px;
}
.input:focus::placeholder {
    color: transparent;
}
